@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

* {
    font-family: 'Finger Paint', cursive;
    color: #2078df;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #1d1f20;
}

main {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    width: 40rem;
    height: 40rem;
    background-color: #2078df;
}

.cell {
    border: 0.5px solid #65a2e9;

}

.cell.apple {
    background-color: rgb(188, 4, 4);
    border-radius: 50%;
}

.cell.snake {
    background-color: rgb(123, 199, 0);
}

button {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;   
}

#controls {
    display: none;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr)
}

button.up {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    grid-row: 1/2;
    grid-column: 2/3;
}

button.down {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    grid-row: 3/4;
    grid-column: 2/3;
}

button.right {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    grid-row: 2/3;
    grid-column: 3/4;
}

button.left {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
    grid-row: 2/3;
    grid-column: 1/2;
}

#restart {
    background-color:#a8a8a8 ;
    color: #ffffff;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: .8rem;
}